In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('..\data\Production_Crops_Livestock_E_All_Data_(Normalized).csv', encoding='latin-1')

C:\Users\balbonis\AppData\Local\Temp\ipykernel_34452\1341285561.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('..\data\Production_Crops_Livestock_E_All_Data_(Normalized).csv', encoding='latin-1')

In [7]:
df.head()

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
0,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1975,1975,ha,0.0,E,NaN
1,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1976,1976,ha,5900.0,E,NaN
2,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1977,1977,ha,6000.0,E,NaN
3,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1978,1978,ha,6000.0,E,NaN
4,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1979,1979,ha,6000.0,E,NaN

In [8]:
df['Area'].value_counts()

Area
World                                      42718
Asia                                       39378
Net Food Importing Developing Countries    38928
Americas                                   37410
Low Income Food Deficit Countries          37224
                                           ...
Tokelau                                     2751
Nauru                                       2569
South Sudan                                 2466
Faroe Islands                               1976
Marshall Islands                             279
Name: count, Length: 245, dtype: int64

In [9]:
df['Value'].describe()

count    3.761168e+06
mean     2.477943e+06
std      2.772790e+07
min      0.000000e+00
25%      2.600000e+03
50%      2.316400e+04
75%      1.561530e+05
max      3.070645e+09
Name: Value, dtype: float64